body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center; 
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px; 
}

label, input, button {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; 
}

p {
    font-weight: bold; 
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1, label, input, button, p {
    margin: 10px 0;
}


#contributors {
    text-align: center;
    margin-top: 20px; 
}

.contributors ul {
    list-style-type: none;
    padding: 0;
}

.contributors ul li {
    display: inline;
    margin: 0 10px; 
}
